* {
  box-sizing: border-box;
}

h1 {
  font-family: "Chelsea Market", cursive;
  font-weight: bolder;
  margin-top: 0;
  padding-top: 0;
}

p,
a {
  font-family: "Roboto Mono", monospace;
}

a {
  font-weight: bolder;
}

p {
  font-size: 1.2rem;
}

.container {
  /* width: 90%; */
  width: 104.5rem;
  margin: 0 auto;
}

.nav-bar li {
  display: inline-block;
  padding: 1.6rem;
  border-radius: 1rem;
}

.nav-bar li a {
  text-decoration: none;
  color: #fff;
}

.nav-bar-item-1 {
  background-color: #ff764e;
}

.nav-bar-item-1:hover {
  background-color: #fff;
  border: 1px solid #ff764e;
  color: #ff764e;
}

.nav-bar-item-1:hover a {
  color: #ff764e;
}

.nav-bar-item-2 {
  background-color: #5ed3eb;
  margin: 0 32.7rem;
}

.nav-bar-item-2:hover {
  background-color: #fff;
  border: 1px solid #5ed3eb;
}

.nav-bar-item-2:hover a {
  color: #5ed3eb;
}

.nav-bar-item-3 {
  background-color: #ffcd69;
}

.nav-bar-item-3:hover {
  background-color: #fff;
  border: 1px solid #ffcd69;
}

.nav-bar-item-3:hover a {
  color: #ffcd69;
}

.col-2 {
  display: inline-block;
  vertical-align: top;
  margin-top: 7rem;
}

.sol {
  width: 25%;
}

.sag {
  width: 69%;
  text-align: center;
}

.header-img {
  width: 78%;
  height: 18rem;
  border-radius: 50%;
}

#hakkımızda {
  background-color: #ddb9a3;
  color: #fff;
  padding: 0;
  text-align: center;
  margin-top: 1rem;
}

#img-footer {
  display: block;
  margin-top: 10rem;
  background-image: url(/assets/footer_img.jpg);
  background-size: cover;
  background-position: center top;
  height: 300px;
}

.icon {
  width: 5rem;
  margin: 0 49.7rem;
  margin-top: 2rem;
}

.content-text {
  margin: 0 40.4rem;
  padding: 0;
  text-align: center;
}

footer {
  background-color: #f9e7dc;
  margin: 0;
  padding: 0;
}

footer li {
  margin-bottom: 1rem;
}
